/* GLOBAL */
:root {
	--primary-text-color: #434455;
	--secondary-txt-color: #e7e9fc;
	--title-text-color: #2e2f42;
	--accent-color: #4d5ae5;
	--bg-color: #ffffff;
	--secondary-color: #f4f4fd;
	--btn-hover-color: #404bbf;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	background-color: var(--bg-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

.link {
	text-decoration: none;
	color: inherit;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.section {
	padding: 120px 0px;
}
.section.no-padding-top {
	padding-top: 0;
}

.container {
	width: 1128px;
	margin: 0 auto;
	padding: 0 15px;

	/* outline: 2px dashed tomato; */
}

.card-item,
.team-item {
	/* outline: 2px dashed palegreen; */
}

/* LOGO */
.logo-link {
	font-family: "Raleway";
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--accent-color);
	display: inline-flex;
}
.logo-name {
	color: var(--title-text-color);
}

/* HEADER */
header {
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
	padding-top: 24px;
	padding-bottom: 24px;
}

/* NAVIGATION */
.navigation {
}
.nav-list {
	display: inline-flex;
}
.nav-item {
}
.nav-link {
	font-size: 16px;
	line-height: 0.66;
	letter-spacing: 0.02em;
	font-weight: 700;
	color: var(--title-text-color);
}
.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
}
.nav-link:active {
	color: var(--primary-text-color);
}

.current {
	color: var(--accent-color);
}
.nav-item {
}

.header-contacts {
	display: inline-flex;
}
.email,
.tel {
	font-size: 16px;
	line-height: 0.66;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}
.email:hover,
.email:focus,
.tel:hover,
.tel:focus {
	color: var(--accent-color);
}

/* MAIN PAGE */
/* HERO */
.hero {
	background-color: var(--title-text-color);
	text-align: center;
}

.section.hero-padding {
	padding: 192px 474px;
}

.hero-header {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;

	color: var(--bg-color);

	margin-bottom: 48px;
}

.hero-button {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 0.84;
	align-items: center;
	letter-spacing: 0.04em;

	color: var(--bg-color);
	background: var(--accent-color);
	cursor: pointer;
	border-radius: 4px;
	padding: 16px 32px;
}

.hero-button:hover,
.hero-button:focus {
	background: var(--btn-hover-color);
}

.hero-button:active {
	background: var(--secondary-color);
	color: var(--accent-color);
}

/* MAIN */

.section-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--title-text-color);

	margin-bottom: 8px;
}

.section-text {
	line-height: 1.5;
	padding-bottom: 32px;
}

.section-header {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	color: var(--title-text-color);
	margin-bottom: 72px;
}

/* FEATURE */
.feature-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.feature-item .section-text {
	padding-bottom: 0;
}

/* WORK */

.work {
}

.work-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.work-item {
}

/* TEAM */

.team {
	background: var(--secondary-color);
}

.team-list {
	display: flex;

	justify-content: space-around;
	align-items: center;
}

.team-item {
	background-color: var(--background-color);
	text-align: center;
	background: #ffffff;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.team-name {
}

.team-position {
}

/* FOOTER */
.logo-namef {
	color: var(--secondary-color);
}

.footer {
	background-color: var(--title-text-color);
}

.footer-text {
	line-height: 1.5;
	color: var(--secondary-txt-color);
	padding-top: 16px;
	max-width: 264px;
}

.footer > .container {
	padding-top: 100px;
	padding-bottom: 100px;
}

/* PORTFOLIO PAGE */
/* FILTERS */
.filter-btn {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-weight: 700;

	text-align: center;
	color: var(--accent-color);
	background: var(--secondary-color);
	cursor: pointer;

	padding: 12px 24px;
	border: 1px solid #e7e9fc;
	border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
	color: #ffffff;
	background: var(--accent-color);
}

.filter-btn:active {
	color: var(--accent-color);
	background: var(--secondary-color);
}

.filter-list {
	padding-top: 96px;
	padding-bottom: 72px;
	display: flex;
	justify-content: center;
	gap: 24px;
}

.card-link .section-title {
	margin-left: 16px;
}
.card-link .section-text {
	margin-left: 16px;
}
.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card-item {
	border: 0.5px solid #f4f4fd;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-img {
	margin-bottom: 32px;
}

.card-link {
}

.stylish-txt {
	color: var(--secondary-color);
}
